<form [formGroup]="formGroup" (ngSubmit)="formGroup.invalid&&onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Title" required formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Add more detail" formControlName="content"></textarea>
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" >Add card</button>
  </mat-dialog-actions>
</form>
