<div class="root">
  <div class="board">
    <div class="board-bar">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="height: 70px">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <span class="nav-link">Board: {{board.name}} <span class="sr-only">(current)</span></span>
        </li>
        <li class="nav-item active">
          <span class="nav-link">Welcome {{authenService.currentUserValue.username}} <span class="sr-only">(current)</span></span>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Card</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" ><app-filter-card-label [board_id]="board_id"></app-filter-card-label></a>
            <a class="dropdown-item" ><app-filter-card-user [board_id]="board_id"></app-filter-card-user></a>
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </li>
        <li class="nav-item active">
          <app-log-out></app-log-out>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <app-search-card></app-search-card>
      </form>
    </div>
  </nav>
  <main role="main" class="container">
    <div class="board">
      <div class="board-wrapper" >
        <div class="board-columns"
             cdkDropList [cdkDropListData]="_lists"
             (cdkDropListDropped)="drop($event)">
          <div class="board-columns" cdkDropListGroup>
            <div class="board-column"  *ngFor="let item of _lists" cdkDrag >
              <div class="column-title">
                {{ item.title }}
                <app-edit-title-list [list_id]="item.id" (isUpdate)="update()"></app-edit-title-list>
              </div>
              <app-show-card-by-list-id [list_id]="item.id" (isChanged)="update()"></app-show-card-by-list-id>
            </div>
            <div class="board-column"  >
              <app-create-list [board_id]="board_id" (isCreate)="update()"></app-create-list></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
</div>
