.navbar{
  display:flex;
  justify-content: space-between;
  height: 45px;
}

.avatar{
  cursor: pointer;
}
.nav_menu{
  max-width: 400px;
}

.title{
  text-align: center;
}

.notifications{
  padding: 0px 10px;
}

.notification{
  margin-bottom: 5px;
}

.notification_content{
  background-color: #F4F5F7;
}
