<mat-toolbar color="primary" class="mat-elevation-z6 navbar">
  <mat-icon>menu</mat-icon>
  <h5>Trello</h5>

  <div class="spacer">
  <a mat-button [matMenuTriggerFor]="add">
    <mat-icon>add</mat-icon>
  </a>
  <a mat-button>
    <mat-icon>home</mat-icon>
  </a>
  <a mat-button [matMenuTriggerFor]="notificationMenu">
    <mat-icon>notifications</mat-icon>
  </a>
  <a mat-button [matMenuTriggerFor]="user">
    <img src={{avatar}} alt={{username}} class="avatar" />
  </a>
  <mat-menu #notificationMenu="matMenu" >
    <app-noftification *ngFor="let noti of notifications" [notification]="noti"></app-noftification>
  </mat-menu>
  <mat-menu #add="matMenu">
    <span mat-menu-item (click)="openDialog()">
        <mat-icon>date_range</mat-icon>
        Create Table
    </span>
    <span mat-menu-item >
      <mat-icon>person_pin</mat-icon>Create Workspace
    </span>
  </mat-menu>
  <mat-menu #user="matMenu">
    <a mat-menu-item [routerLink]="'/update'">
      <mat-icon>info</mat-icon>Information
    </a>
    <a mat-menu-item>
      <mat-icon>settings</mat-icon>Settings
    </a>
    <a mat-menu-item (click)="logout()" >
      <mat-icon color="primary">logout</mat-icon>Logout
    </a>
  </mat-menu></div>
</mat-toolbar>

