<button type="button" (click)="openModalWithClass(template)" style="border: none; background: honeydew">
  <i class="bi bi-pencil-fill"> </i></button>
<br>
<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title pull-left">Create new card</p>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="editTitleList() ">
        <div class="form-group">
          <label for="title">Title</label>
          <input  class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title"
                  [(ngModel)]="list.title" name="title">
        </div>
        <button type="submit" class="btn btn-primary" (click)="modalRef.hide()" >Edit</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">close</button>
    </div>
  </div>
</ng-template>
