<br>
<div class="card-header">
  <div class="text-center">
    <div class="avatar-sample initials">
      <igx-avatar initials="JS" size="medium"></igx-avatar>Group 1
      <span class="material-icons-outlined"></span>
    </div>

  </div>
  <div class="text-center">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Workspace table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Profile</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <h5>Workspace visibility</h5>
  <span class="material-icons orange600 md-18">public</span>
Public - This Workspace is public. It's visible to anyone with the link and will show up in search engines like Google.
  Only those invited to the Workspace can add and edit Workspace boards.
  <br>
  <span class="material-icons md-18">vpn_key</span>
  Private - This Workspace is private. It's not indexed or visible to those outside the Workspace.
  <p>You have received a file called "cat-picture.jpeg".</p>

  <button mat-raised-button (click)="openBottomSheet()">Open file</button>



</div>

