.mat-dialog-content{
  display: flex;
  flex-flow: row ;
}
.content {
  width: 70%;
}

.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.mat-icon{
  cursor: pointer;
}

.mat-list-option{
  display: flex;
  flex-direction: row;
}
.mat-list-item div{
  display: flex;
  flex-direction: column;
}
