<div class="modal-header">
  <h6 mat-dialog-title [textContent]="data.card?.title"></h6>
  <span aria-hidden="true" matDialogClose><mat-icon>close</mat-icon></span>
</div>
<mat-dialog-content>
  <div class="content">
    <div style="display: flex; justify-content: flex-start">
      <p>Description<span *ngIf="!display" (click)="display = !display"><mat-icon color="primary"
                                                                                  style="cursor: pointer">edit</mat-icon></span>
      </p>
    </div>
    <p [textContent]="data.card.content" *ngIf="!display"></p>
    <div *ngIf="display">
      <mat-form-field>
        <textarea matInput [textContent]="data.card?.content" cols="40" [(ngModel)]="card.content"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="display = !display" (click)="editCard()">Save</button>
    </div>
    <div>
      <p>Action</p>
      <textarea matInput placeholder="Comment something here" [(ngModel)]="comment.content"></textarea>
      <button mat-flat-button color="primary" (click)="saveComment()">Save</button>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let comment of data.card.comments">
        <igx-avatar src="{{comment.avatar}}" [roundShape]="true" size="small"></igx-avatar>
        <div>
          <p><strong>{{comment.username}} </strong><small>{{comment.created_date | date:"fullDate"}}</small></p>
          <p>{{comment.content}}</p>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <p>Member</p>
    <mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select [formControl]="cardTagUsers" multiple>
        <mat-option *ngFor="let user of boardUsers" [value]="user.id">
          <img class="avatar" src="{{user.avatar}}" alt="avatar"/>{{user.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
