.mat-dialog-content{
  display: flex;
  flex-flow: row wrap;
}
.content {
  width: 70%;
}

.mat-icon{
  cursor: pointer;
}

.mat-list-item{
  display: flex;
  flex-direction: row;
}
.mat-list-item div{
  display: flex;
  flex-direction: column;
}
