<div class="body">
  <section >
    <button mat-button>{{board.name}}</button>
    <span class="divider"></span>
    <button mat-button>{{board.type=='TYPE_PRIVATE' ? 'PRIVATE' : 'PUBLIC'}}</button>
  </section>
    <div class="board" cdkDropList (cdkDropListDropped)="columnDrop($event)" cdkDropListOrientation="horizontal">
      <div cdkDrag class="card-list mat-elevation-z1" *ngFor="let column of lists; let trackIndex = index " >
        <div class="row" fxLayoutAlign="start center" class="header_column" cdkDragHandle >
          <h6  [textContent]="column.title"></h6>
        </div>
        <div class="card-list-content" cdkDropList id="{{column.id}}" [cdkDropListConnectedTo]="listIds()"
             [cdkDropListData]="column?.cardDtoList" (cdkDropListDropped)="cardDrop($event)">
          <app-card *ngFor="let card of column.cardDtoList" cdkDrag (edit)="edit(card, column)" [title]="card.title"></app-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="baseline baseline">
          <button style="width: fit-content;" class="add-talk" (click)="createCard(column)" color="primary"
                  mat-raised-button> Add card
          </button>
        </div>
      </div>
      <div class="card-list">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>add</mat-icon>
              Add list
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-label>Type in title list</mat-label>
            <input matInput [(ngModel)]="list.title">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="createList()">Add list</button>
        </mat-expansion-panel>
      </div>
    </div>
</div>
