<div class="group_form">
  <div style="margin-bottom: 30px; text-align: center">
    <h6 mat-dialog-title class="title">Create new board </h6>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="legacy" class="input">
        <mat-label>Title</mat-label>
        <input matInput type="text" name="title" #title="ngModel" [(ngModel)]="data.name" required maxlength="60">
        <mat-error *ngIf="title.invalid && title.touched">
          <span *ngIf="title?.errors.required">This field is required</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="input">
        <mat-label>Privacy</mat-label>
        <mat-select name="type" #privacy="ngModel" [(ngModel)]="data.type" required>
          <mat-option value="TYPE_PUBLIC">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill"
                 viewBox="0 0 16 16" value="public">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
            Public
          </mat-option>
          <mat-option value="TYPE_PRIVATE">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill"
                 viewBox="0 0 16 16" value="private">
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
            Private
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!--      <mat-error *ngIf=""> This field is required </mat-error>-->
    </div>
  </div>
  <mat-dialog-actions>
    <div style="display: inline; width: 50%;">
    </div>
    <div style="display: inline; width: 40%">
      <button sytle="display: inline" mat-raised-button color="primary" (click)="createBoard()">Create</button>
      <button sytle="display: inline" mat-raised-button mat-dialog-close>Close</button>
    </div>
  </mat-dialog-actions>
</div>
