<br>
<!--<div class="card-header">-->
<!--  <div class="text-center">-->
<!--&lt;!&ndash;    <igx-avatar src="https://randomuser.me/api/portraits/men/1.jpg"&ndash;&gt;-->
<!--    <igx-avatar src="{{appUser.avatar}}"-->
<!--                [roundShape]="true"-->
<!--                size="large">-->
<!--    </igx-avatar>-->
<!--    {{appUser.userName}}-->
<!--  </div>-->
<!--  <div class="text-center">-->
<!--    <ul class="nav nav-tabs justify-content-center">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link " aria-current="page" href="#">Board</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Workspace table</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Member</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Profile</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<h4 style="text-align: center">User Information</h4>
<div class="container" style="width: 85%; margin: 30px auto">
  <form (ngSubmit)="editUser()">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="userName"
               placeholder="Old password" [(ngModel)]="appUser.userName" readonly>
<!--        <div><span *ngIf="isPasswordCorrect">{{message}}</span></div>-->
      </div>
      <div class="form-group col-md-6">
        <label for="newPassword">Email</label>
        <input type="text" class="form-control" id="newPassword" name="Email"
               placeholder="New password" [(ngModel)]="appUser.email" readonly>
      </div>
    </div>
<!--    <div class="form-group">-->
<!--      <label for="email">Email</label>-->
<!--      <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="appUser.email">-->
<!--    </div>-->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" [(ngModel)]="appUser.phone">
      <div><span *ngIf="isPhoneCorrect" style="color: red">{{messagePhone}}</span></div>
    </div>
    <div class="form-group">
      <label for="avatar">Change your avatar</label>
      <img src="{{appUser.avatar}}" style="width: 300px"><br>
      <input type="file" class="form-control-file" id="avatar" name="avatar" (change)="onFileSelected($event)" autocomplete="off">
    </div>

    <button type="submit" mat-raised-button color="primary">Update</button>
    <button mat-stroked-button color="primary" [routerLink]="'/home'">Back</button>
  </form>

</div>

