<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="src/assets/logo.png"
      width="40" height="40" alt="">
    Trello
  </a>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" ><a [routerLink]="'/register'" style="text-decoration: none">Sign up</a></button>
    <button class="btn btn-primary my-2 my-sm-0" type="submit"><a [routerLink]="'/login'" style="color: whitesmoke; text-decoration: none">Log in</a></button>
  </form>
</nav>

<div class="container-fluid">
  <br>
  <div class="col-12">
    <div class="text-center">
      <h1 class="display-4">Trello xin chào!</h1>
      <p class="lead">Trello giúp các nhóm phát triển công việc về phía trước.</p>
      <hr class="my-4">
      <p>Cộng tác, quản lý dự án và đạt đến đỉnh cao năng suất mới. Từ các tòa nhà cao tầng đến văn phòng tại nhà,
        cách nhóm của bạn làm việc là duy nhất—hoàn thành tất cả với Trello..</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Tìm hiểu thêm</a>

    </div>
  </div>
  <br>
</div>

<div class="card mb-3">
  <img src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fslide2.png?alt=media&token=e85ff44c-7452-4937-82de-b66a4c730655" class="card-img-top" alt="...">
  <br>
  <div class="text-center">
    <h5 class="card-title">Đó không chỉ là công việc. Đó là cách làm việc cùng nhau.</h5>
    <p class="card-text">Bắt đầu với bảng Trello, danh sách và thẻ. Tùy chỉnh và mở rộng với nhiều tính năng hơn khi tinh thần làm việc nhóm của bạn phát triển. Quản lý các dự án, sắp xếp nhiệm vụ và xây dựng tinh thần làm việc nhóm—tất cả ở cùng một nơi.</p>
    <a href="#" class="btn btn-outline-primary">Bắt đầu làm việc</a>
  </div>
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="text-center">
      <h1 class="display-4">Teamwork</h1>
      <p class="lead">Tham gia cùng hơn 1.000.000 nhóm trên toàn thế giới đang sử dụng Trello để hoàn thành nhiều việc hơn.</p>
      <p>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2FCostco-logo.png?alt=media&token=a42eddd8-6009-4361-87d8-c903550b1439"
          width="100" height="40" alt="">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2FGoogle%20logo.png?alt=media&token=d8838f74-dff0-439c-b6b6-70aff426ddb2"
          width="110" height="40" alt="">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Ffender%20logo.png?alt=media&token=11a7e6e1-e360-402d-9522-52870df0560d"
          width="130" height="40" alt="">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fsquarespace-logo.jpg?alt=media&token=d5fd20e0-dd91-4e0d-b85f-03ac3c5d96b0"
          width="100" height="40" alt="">
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="text-center">
        <h5 class="card-title">Xem báo giá của chúng tôi</h5>
        <p class="card-text">Cho dù bạn là một nhóm gồm 2 hay 2.000 người, luôn có Trello được thiết kế riêng phù hợp cho tổ chức của bạn.</p>
        <a href="#" class="btn btn-primary">Báo giá Trello</a>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Ftags.jpg?alt=media&token=49f2b06f-a64a-4bd0-8743-3a434476128b"
          width="200" height="200" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="text-center">
        <h5 class="card-title">Tham quan Trello</h5>
        <p class="card-text">Khám phá thế giới các bảng và hơn thế nữa trong Trello. Tìm hiểu sâu hơn về các tính năng phổ biến nhất của chúng tôi.</p>
        <a href="#" class="btn btn-primary">Vòng quanh Trello</a>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fcompass.jpg?alt=media&token=35dccbe1-6647-4d07-8872-d3b8ec5edfa8"
          width="200" height="200" alt="">
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row-cols-lg-1">
  <div class="text-center">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fslide3.png?alt=media&token=970b6547-1481-4a50-8074-efa5b216cadb"
      class="img-fluid" alt="Responsive image">
  </div>

  <div class="card text-center">
    <div class="card-header">
      Trello cũng hoạt động tốt trên màn hình nhỏ hơn của bạn.
      <img
        src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2FApp-Store-Logo.png?alt=media&token=97c2b70a-3c65-405f-a1ee-41c637a9ca08"
        width="100" height="40" alt="">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fgoogleplay%20logo.png?alt=media&token=8e70c454-021b-4732-9094-cd438664f183"
        width="100" height="50" alt="">
    </div>
    <div class="card-body">
      <h5 class="card-title"><img
        src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Ftrello-logo3.png?alt=media&token=78c8b8cb-d631-428e-a99a-6a18b2586499"
        width="40" height="40" alt="">
        Trello</h5>
      <p class="card-text">Đăng ký và bắt đầu với Trello ngay hôm nay. Một thế giới làm việc nhóm hiệu quả đang chờ đợi!</p>
      <a href="#" class="btn btn-primary">Sign up</a>
    </div>
    <div class="card-footer text-muted">
      © Bản quyền 2021. Bảo lưu toàn quyền.
    </div>
  </div>
</div>
