<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="assets/logo.png"
      width="40" height="40" alt="">
    Trello
  </a>
  <form class="form-inline my-2 my-lg-0">
    <button mat-stroked-button color="primary" type="submit" ><a [routerLink]="'/register'" >Sign up</a></button>
    <button mat-raised-button color="primary" type="submit"><a [routerLink]="'/login'" style="color: whitesmoke; text-decoration: none">Log in</a></button>
  </form>
</nav>

<div class="container-fluid">
  <br>
  <div class="col-12">
    <div class="text-center">
      <h3 class="lead">Trello helps teams move work forward.</h3>
      <hr class="my-4">
      <p>Collaborate, manage projects, and reach new productivity peaks.
        From high rises to the home office, the way your team works is unique—accomplish it all with Trello.</p>
      <button mat-raised-button color="primary" href="#" role="button">More details</button>

    </div>
  </div>
  <br>
</div>

<div class="card mb-3">
  <img src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fslide2.png?alt=media&token=e85ff44c-7452-4937-82de-b66a4c730655" class="card-img-top" alt="...">
  <br>
  <div class="text-center">
    <h3 class="card-title">It’s more than work. It’s a way of working together.</h3>
    <p class="card-text">Start with a Trello board, lists, and cards. Customize and expand with more features as your teamwork grows.
      Manage projects, organize tasks, and build team spirit—all in one place.</p>
    <button href="#" mat-stroked-button color="primary">Start doing</button>
  </div>
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="text-center">
      <h3 class="display-4">Teamwork</h3>
      <p class="lead">Join over 1,000,000 teams worldwide that are using Trello to get more done.</p>
      <p>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2FCostco-logo.png?alt=media&token=a42eddd8-6009-4361-87d8-c903550b1439"
          width="100" height="40" alt="">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2FGoogle%20logo.png?alt=media&token=d8838f74-dff0-439c-b6b6-70aff426ddb2"
          width="110" height="40" alt="">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Ffender%20logo.png?alt=media&token=11a7e6e1-e360-402d-9522-52870df0560d"
          width="130" height="40" alt="">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fsquarespace-logo.jpg?alt=media&token=d5fd20e0-dd91-4e0d-b85f-03ac3c5d96b0"
          width="100" height="40" alt="">
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="text-center">
        <h5 class="card-title">See our pricing</h5>
        <p class="card-text">Whether you’re a team of 2 or 2,000, there’s a Trello tailor-made for your organization.</p>
        <button href="#" mat-raised-button color="primary">Trello pricing</button>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Ftags.jpg?alt=media&token=49f2b06f-a64a-4bd0-8743-3a434476128b"
          width="200" height="200" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="text-center">
        <h5 class="card-title">Take a Trello tour</h5>
        <p class="card-text">Explore the world of boards and beyond in Trello. Dive deeper into our most popular features.</p>
        <button href="#" mat-raised-button color="primary">Tour Trello</button>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fcompass.jpg?alt=media&token=35dccbe1-6647-4d07-8872-d3b8ec5edfa8"
          width="200" height="200" alt="">
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row-cols-lg-1">
  <div class="text-center">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fslide3.png?alt=media&token=970b6547-1481-4a50-8074-efa5b216cadb"
      class="img-fluid" alt="Responsive image">
  </div>

  <div class="card text-center">
    <div class="card-header">
      Trello also works great on your smaller screen.
      <img
        src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2FApp-Store-Logo.png?alt=media&token=97c2b70a-3c65-405f-a1ee-41c637a9ca08"
        width="100" height="40" alt="">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Fgoogleplay%20logo.png?alt=media&token=8e70c454-021b-4732-9094-cd438664f183"
        width="100" height="50" alt="">
    </div>
    <div class="card-body">
      <h5 class="card-title"><img
        src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/RoomsImages%2Ftrello-logo3.png?alt=media&token=78c8b8cb-d631-428e-a99a-6a18b2586499"
        width="40" height="40" alt="">
        Trello</h5>
      <p class="card-text">Sign up and get started with Trello today. A world of productive teamwork awaits!</p>
      <button href="#" mat-raised-button color="primary">Sign up</button>
    </div>
    <div class="card-footer text-muted">
      © Copyright 2021. All rights reserved.
    </div>
  </div>
</div>
