<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Workspace name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label>Workspace type</mat-label>
    <mat-select [(ngModel)]="data.type">
      <mat-option value="one">Public Workspace</mat-option>
      <mat-option value="two">Private Workspace</mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label>Workspace description </mat-label>
    <textarea matInput [(ngModel)]="data.description" ]></textarea>
  </mat-form-field>
  <br>
</div>
