  <h5 mat-dialog-title class="title" style="text-align: center; margin-bottom: 25px">Create new workspace</h5>
  <mat-dialog-content style="display: flex; flex-flow: column">
      <mat-form-field appearance="legacy">
        <mat-label>Title</mat-label>
        <input matInput type="text"  name="title" #title="ngModel" [(ngModel)]="data.name" required maxlength="60">
        <mat-error *ngIf="title.invalid && title.touched">
          <span *ngIf="title?.errors.required">This field is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>Privacy</mat-label>
        <mat-select  name="type" [(ngModel)]="data.type" required>
          <mat-option value="public"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>Public</mat-option>
          <mat-option value="private"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg>Private</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="description">
        <mat-label>Workspace description</mat-label>
        <textarea matInput name="description" [(ngModel)]="data.description" cols="80"></textarea>
      </mat-form-field>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="createGroup()">Create</button>
  </div>
