.divider{
  border-left: 1px solid hsla(0,0%,100%,.24);
  height: 4px;
  margin: 8px 8px 12px 4px;
}

.spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 100%;
  background-color: #bd7b09;
}

.example-sidenav-content {
  height: 650px;
}

.example-sidenav {
  padding: 3%;
  background-color: #bd7b09;
}

.example-full-width {
  width: 100%;
}

