<mat-toolbar class="spacer" color="primary">
    <button mat-button>NO EXCEPTION TRELLO</button>
    <span class="divider"></span>

    <button mat-button>YOUR WORKSPACE</button>
    <span class="divider"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>security</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>public</mat-icon>
      <span>Public</span>
    </button>
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>
      <span>Private</span>
    </button>
  </mat-menu>
    <span class="divider"></span>
    <button mat-button (click)="showInviteForm()">
      <mat-icon >person_add</mat-icon>
    </button>
  <span class="divider"></span>
    <button mat-flat-button color="primary" (click)="drawer.toggle()">
      <mat-icon>more_horiz</mat-icon>&nbsp;&nbsp;Show Menu
    </button>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav position="end" #drawer class="example-sidenav" mode="side">
    <button  mat-raised-button color="primary" (click)="showFiller = !showFiller"><mat-icon>search</mat-icon> Search cards</button>
    <br>
    <br>
    <button mat-raised-button color="primary"><mat-icon>more_horiz</mat-icon> More</button>
    <br>
    <br>
    <form class="example-form" *ngIf="showFiller">
    <mat-form-field class="example-full-width"  color="primary">
      <mat-label>Search cards with name</mat-label>
      <textarea matInput placeholder="Cards name..."></textarea>
      <button mat-flat-button color="primary"><mat-icon>search</mat-icon></button>
      <br><br>
      <button mat-flat-button color="primary" (click)="showBoardMembers()"><mat-icon>person</mat-icon>Search members</button>
    </mat-form-field>
<!--      <mat-form-field class="example-full-width"  color="primary">-->
<!--        <mat-label>Search cards with members</mat-label>-->
<!--        <textarea matInput placeholder="Members name..."></textarea>-->
<!--        <button mat-flat-button color="primary"><mat-icon>search</mat-icon></button>-->
<!--      </mat-form-field>-->
    </form>
  </mat-sidenav>
  <div class="example-sidenav-content">

  </div>
</mat-sidenav-container>
