<mat-card class="card">
  <mat-card-content>
    {{card.title}}
<!--    <div>-->
<!--      <mat-chip-list>-->
<!--        <mat-chip [style.background]="label?.color ? label.color : '#e0e0e0'"-->
<!--                  *ngFor="let label of labels"-->
<!--                  selectable="false">{{label?.title}}-->
<!--        </mat-chip>-->
<!--      </mat-chip-list>-->
<!--    </div>-->
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="edit()">Edit</button>
  </mat-card-actions>
</mat-card>
