.sidebar {
  padding-top: 30px;
  min-width: 250px;
}

.sidebar button {
  width:100%;
  text-align:left;
  padding: 5px ;
}

.workspace{
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}
