<div class="sidebar" xmlns="http://www.w3.org/1999/html">
  <div class="board">
    BOARDS
  </div>
  <div style="margin-left: 35px">
    <span class="material-icons private" [routerLink]="'/boards/private'">vpn_key</span>   Private
  </div>
  <div style="margin-left: 35px">
    <span class="material-icons group" [routerLink]="'/boards/groups'">groups</span>   Group
  </div>
  <div style="margin-left: 35px">
    <span class="material-icons public" [routerLink]="'/boards/public'">public</span>   Public
  </div>
  <div class="workspace">
 WORKSPACES
    <mat-icon (click)="openDialog()">add</mat-icon>
  </div>
  <mat-accordion>

      <app-group-menu *ngFor="let group of groups" [group]="group?.groupTrello">

      </app-group-menu>
      <span class="material-icons-outlined"></span>

  </mat-accordion>
</div>
