.sidebar {
  padding-top: 30px;
  min-width: 260px;
  max-width: 260px;
}

.sidebar button {
  width:100%;
  text-align:left;
  padding: 5px ;
}
.board{
  padding-left: 35px;
  font-weight: 900;

}
.workspace{
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  font-weight: 900;
}
.material-icons.private {
  color: orangered; font-size: 15px
}
.material-icons.group {
  color: darkblue; font-size: 15px
}
.material-icons.public {
  color: limegreen; font-size: 15px
}
.material-icons.workspace {
  color: dimgray; font-size: 15px
}
