<div class="container">
  <div class="a">
    <span class="material-icons">person_outline</span> Your Workspace boards
  </div>
  <br>
  <div class="flex-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Codegym</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/trelloFIle%2Fbackground.jpg?alt=media&token=c908f022-3c60-4ca5-8486-a40af24a4906">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Codegym</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/trelloFIle%2Fbackground.jpg?alt=media&token=c908f022-3c60-4ca5-8486-a40af24a4906">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <span class="material-icons">add_circle</span>
        <mat-card-title>Create new board</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/trelloFIle%2Fgray.jpg?alt=media&token=dc61c71f-e4db-421d-9b50-ded0ebf1b95d">
    </mat-card>
  </div>
</div>
<br><br>
<div class="container">
  <div class="a">
    <span class="material-icons">groups</span> Workspace boards
  </div>
  <br>
  <div class="flex-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Codegym1</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/trelloFIle%2Fbackground.jpg?alt=media&token=c908f022-3c60-4ca5-8486-a40af24a4906">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Codegym2</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/trelloFIle%2Fbackground.jpg?alt=media&token=c908f022-3c60-4ca5-8486-a40af24a4906">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <span class="material-icons">add_circle</span>
        <mat-card-title>Create new board</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           src="https://firebasestorage.googleapis.com/v0/b/pic1-101f3.appspot.com/o/trelloFIle%2Fgray.jpg?alt=media&token=dc61c71f-e4db-421d-9b50-ded0ebf1b95d">
    </mat-card>


  </div>
</div>

