<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>

    <mat-panel-title >
      <div class="avatar-sample initials">
        <igx-avatar initials="GR" size="small"></igx-avatar>
      </div>
      <div class="board name">{{group.name}}</div>

    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <div style="margin-left: 10px ">
      <button mat-stroked-button color="primary"><span class="material-icons board">space_dashboard</span>   Board</button>
        <br>
    </div>
    <div style="margin-left: 10px">
    <button mat-stroked-button color="primary" [routerLink]="'/home/groups/'+group.id+'/members'"><span class="material-icons member">person_add</span>   Members</button>
      <br>
    </div>
    <div style="margin-left: 10px">
    <button mat-stroked-button color="primary" routerLink="/setting"><span class="material-icons setting">settings</span>  Settings</button>
      <br>
    </div>
  </mat-list>
</mat-expansion-panel>
