<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{group.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item><button mat-button><mat-icon>table_chart</mat-icon>Table</button></mat-list-item>
    <mat-list-item><button mat-button><mat-icon>person_add</mat-icon>Participants</button></mat-list-item>
    <mat-list-item><button mat-button><mat-icon>favorite</mat-icon>Event</button></mat-list-item>
    <mat-list-item><button mat-button><mat-icon>settings</mat-icon>Setting</button></mat-list-item>
  </mat-list>
</mat-expansion-panel>
