<h5 mat-dialog-title>Invite</h5>
<div class="content">
  <mat-selection-list [(ngModel)]="listId">
    <mat-list-option *ngFor="let user of users" value="{{user.id}}">
      <div class="item">
      <p><img src="{{user.avatar}}" alt="avatar" class="avatar">{{user.username}}</p>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <button mat-button (click)="tagUser()" color="primary" [mat-dialog-close]="true">Save</button>
  <button mat-button  color="warn" mat-dialog-close>Cancel</button>
</div>
