<div class="login">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
        </div>
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="form.valid&&loginUser()">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><mat-icon>person</mat-icon></span>
              </div>
              <input type="text" class="form-control" placeholder="Email/username" name="username"
                     #username="ngModel" [(ngModel)]="login.userName" required="required" maxlength="30"
                     pattern="^[a-zA-Z0-9][a-zA-Z0-9]{3,30}">
            </div>
            <div class="error" *ngIf="username.invalid && username.touched">
                <span *ngIf="username.errors?.required">
                  Enter username!
                </span>
              <span *ngIf="username.errors?.pattern">
                  Invalid username!
                </span>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><mat-icon>vpn_key</mat-icon></span>
              </div>
              <input type="password" class="form-control" name="passWord" [(ngModel)]="login.passWord"
                     placeholder="password" #password="ngModel" required="required"
                     pattern="^[a-zA-Z0-9][a-zA-Z0-9]{5,30}" [type]="hidden ? 'text' : 'password'">
              <div class="toggle_password">
                <span class="input-group-text" (click)="hidden = !hidden"><mat-icon>remove_red_eye</mat-icon></span>
              </div>
            </div>
            <div class="error" *ngIf="password.invalid && password.touched">
                <span *ngIf="password.errors?.required">
                  Enter password!
                </span>
              <span *ngIf="password.errors?.pattern">
                  Invalid password!
                </span>
            </div>
            <div class="input-group-prepend">
              <div style="color: red;" *ngIf="isLoginFailed">
                Wrong username or password!
              </div>
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox">Remember Me
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a [routerLink]="'/register'">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
