<button type="button" (click)="openModalWithClass(template)" style="border: none; background: honeydew">
  <i class="bi bi-list-ul">Detail card</i>
</button>
<br>
<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-center">Card detail</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-8" style="float: left">
        <h6>Title</h6>
        <p>{{card.title}}</p>
        <h6>Content</h6>
        <p>{{card.content}}</p>
        <h6>Attached file</h6>
<!--        <div *ngFor="let item of mediaFiles">-->
<!--          <a href="{{item.link}}">Attached file</a>-->
<!--        </div>-->
        <br>
        <h6>Labels</h6>
        <span *ngFor="let l of labels">
          <span [style.backgroundColor]="l.color">{{l.title}}</span> &nbsp; &nbsp;
        </span>
        <br>
        <h6>Member</h6>
        <span *ngFor="let user of users">{{user.username}}&nbsp; &nbsp;</span>
      </div>
      <div class="col-1">
        <ul>
          <app-card-edit-form [card_id]="card_id" (isUpdate)="update()"></app-card-edit-form>
          <br>
          <input type="file" (change)="onFileSelected($event)" name="file" id="file" style="padding-bottom: 5px">
          <br>
          <app-create-label [card_id]="card_id" (isAddLabel)="update()"></app-create-label>
          <app-add-member-for-card [card_id]="card_id" (isAddUser)="update()"></app-add-member-for-card>
        </ul>
      </div>
      <div>
        <app-comment [card_id]="card_id"></app-comment>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
  </div>
</ng-template>
